
### VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
**/.vscode

# Lightning-Hydra-Template
data/
logs/
wandb/
.autoenv
.ipynb_checkpoints
# pc_environment.env
outputlog*

errorlog*model-zoo/
finished_slumrs/
generative/
models/
results/
wandb/

*.nii
*.out
*.zip
*.pyc
*.nii
*.nii.gz
*.pyc
*.pyc
*.nii.gz
*.nii
*.nii
